/* Paramètres global */

* {
    font-family: 'Kanit', sans-serif;
}

p {
    font-size: 16px;

    margin: 0;

}


h1 {
    font-weight: bold;
    font-size: 4rem;
    margin: 0;
    /* font-size: 5vw; */
}


h2 {
    font-size: 2rem;
    font-style: italic;
    margin-top: 0;

    /* font-size: 4vh; */
}


a {
    color: red;
    text-decoration: none;
}

strong {
    font-weight: 400;
}


.scrollOnOff {
    overflow-y: hidden;
}

body {
    margin: 0;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;



}

button {
    color: white;
}


/*  */


/* Header  */

nav {
    display: flex;

    background-color: #D9D9D9;
}

#logo {
    display: flex;
    max-width: 15%;
    justify-content: center;
    align-items: center;
}

#logo img {
    max-width: 60%;
    max-height: 60%;
}

#title {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    /* background-color: grey; */
}


#h1 {

    display: flex;
    flex-direction: column;
}

#h2 {
    height: 15%;
}




.nav {
    width: 15%;
}

/*  */


/* Section Presentation */

#presentation {
    margin-top: 5vh;
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.firstDescription,
.secondDescription {
    height: 40%;

    display: flex;
    align-items: center;
    margin-bottom: 5vh;
    justify-content: center;

}

.firstDescription {}



.textIntro {
    width: 30%;
    overflow-y: auto;
    display: flex;
    justify-content: start;
    margin: 5vh;
    overflow-y: auto;
}

.textIntro:nth-child(2) {
    width: 30%;
    display: flex;
    justify-content: end;
}

.introPic {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.introPic img {

    max-width: 100%;
    max-height: 100%;
}

#cta {
    background-color: #f81e1e;
    border-radius: 30px;
    border: none;
    color: white;
    height: 5vh;
    font-weight: 500;
    font-size: 20px;
    transition: 0.3s;

}

#cta:hover {
    translate: -5px -5px;
    box-shadow: 5px 5px 10px black;

}

#cta:active {
    box-shadow: none;
    translate: 0 0;
    transition: 0.1s;
}


.cta {
    display: flex;
    justify-content: center;
    align-items: center;

}

/*  */


/* Section plats */

#meals {

    height: 85vh;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 50px;
}

#propositionsTitle {
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 35px;
}



.listChoice {
    height: 70vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5vh;
}

[class^=choice] {
    height: 100%;
    width: 30%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);

    transition: all 0.5s ease-in-out;

}

.slideRight {
    translate: 100vw 0;
    transition: 1s ease-in-out;

}

.slideLeft {
    translate: -100vw 0;
    transition: 1s ease-in-out;

}

.slideUp {
    translate: 0 -100vh;
    transition: 1s ease-in-out;

}

.slideDown {
    translate: 0 -100vh;
    transition: 1s ease-in-out;

}

.choiceModal {

    display: flex;
    align-items: start;
    justify-content: space-around;

    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);

    transition: all 2s ease-in-out;

    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

}


[class^=choice]:hover {
    scale: 1.3;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.choiceModal:hover {
    scale: 1;
    transition: all 0.3s ease-in-out;
}

.picMeal img {
    max-width: 100%;

}

.picMeal {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    transition: all 1s ease-in-out;
}

.picMealModal {
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: center;

    transition: all 1s ease-in-out;

}

.picMealModal img {
    box-shadow: rgb(0 0 0 / 25%) 0px 0px 10px 8px;
}

.nameMeal {
    height: 10%;
    width: 90%;
    font-weight: 600;
    font-size: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    transition: all 0.5s ease-in-out;

}

.nameMealModal {

    height: 25%;
    font-size: 35px;

    transition: all 0.5s ease-in-out;

}



.gauche {
    height: 90%;
    /* width: 94%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.gaucheModal {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.ingredients {
    display: none;

}

.ingredientsModal {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    height: 100%;
    width: 55%;

    transition: all 0.5s ease-in-out;

}

.nameIng {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;

}

.detailIng {}

.modal {
    height: 100%;
    width: 30%;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;


}





.modalOn {

    height: 100vh;
    width: 100vw;
    position: fixed;
    transition: all 0.5s ease-in-out;

    z-index: 1;
}




/* bouton changer */
.propositions #cta {
    width: 100%;
}

#change {
    background-color: #40AE44;
    border-radius: 30px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
    height: 5vh;
    width: 20vw;
    transition: 0.3s ease-in-out;
}

#change:hover {
    translate: -5px -5px;
    box-shadow: 5px 5px 10px black;

}

#change:active {
    box-shadow: none;
    translate: 0 0;
    transition: 0.1s;
}

.disclaimer {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.disclaimer p {
    text-align: center;
    width: 30%;
    animation: clignote 2s linear infinite;
}

@keyframes clignote {

    0% {
        background-color: none;
    }

    50% {
        background-color: #d6c91067;
    }

    100% {
        background-color: none;
    }
}

.remind {
    font-weight: bold;

}

span {
    font-style: italic;
}

/*  */


footer {
    background-color: #D9D9D9;
}

.footerContain {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.footerContain #tools,
#author,
#follow {
    height: 100%;
    width: 30%;
    /* background-color: blue; */
}

#author,
#tools,
#follow {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footerTitle {
    height: 20%;
    /* background-color: grey; */

}



footer img {
    scale: 0.8;
    transition: all 0.3s ease-in-out;

}

footer img:hover {
    scale: 1.2;
    transition: all 0.3s ease-in-out;
}

#source {
    height: 40px;
    text-align: center;

}




@media only screen and (max-width : 1023px) {
    /* body {
        background-color: unset;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 20px;
        margin: 0;
    }

    .listChoice {
        height: 50vh;
    }

    #logo img {
        max-width: 80%;
        max-height: 80%;
    }

    .introPic {
        width: 50%;
    }

    .textIntro {
        overflow-y: auto;
        height: 100%;
    }
 */







}





@media only screen and (max-width: 769px) {




    h1 {
        font-size: 35px;
        font-size: 9vw;
    }

    h2 {
        font-size: 16px;
        font-size: 4vw;
        margin: 0;
    }

    #h2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #presentation {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

    }



    #presentation,
    #propositonTitle {
        margin-bottom: 50px;
    }

    .firstDescription,
    .secondDescription {
        width: 80vw;
        flex-direction: column;
        height: auto;
        margin-bottom: 5vh;
    }

    #cta,
    #change {
        height: 6vh;
        width: 50vw;
        font-size: 16px;
    }

    .cta {
        margin-top: 0;
    }

    .listChoice {
        height: auto;
        width: 90vww;
        justify-content: none;
        margin: 0;
        flex-direction: column;
        margin: 5vh;
    }

    .textIntro {

        justify-content: center;
        align-items: center;
        height: auto;
        width: auto;
        margin-bottom: 20px;

    }

    .textIntro:nth-child(2) {

        justify-content: center;
        align-items: center;
        height: auto;
        width: auto;
        order: -1;
        margin-top: 20px;

    }

    .introPic {
        height: 50vw;
        width: auto;
    }



    #propositionsTitle {
        font-size: 8vw;
    }


    .modal {
        width: auto;
        margin-bottom: 50px;
    }

    [class^=choice] {
        width: 90vw;
        height: 87vh;
        margin-bottom: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    .ingredients {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        width: 100%;
    }

    .nameIng {
        font-size: 5vw;
        width: 100%;
    }

    .choiceModal {

        display: flex;
        align-items: start;
        justify-content: space-around;

        box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);

        transition: all 2s ease-in-out;

        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;

    }

    [class^=choice]:hover {
        scale: 1;
        transition: all 0.3s ease-in-out;
    }

    .choiceModal {
        flex-direction: column;
        align-items: center;
    }

    .gauche {
        height: 100%;
        width: 100%;
    }

    .gaucheModal {
        width: auto;
    }

    .picMeal {
        width: 100%;
    }

    .nameMeal {
        font-size: 16px;
        font-size: 5vw;
        height: 10%;
    }

    .disclaimer {
        margin-bottom: 20px;
    }

    .disclaimer p {
        margin: 2%;
        width: 80%;
    }

    .footerContain {
        height: auto;
        flex-direction: column;
    }

    .footerContain #tools,
    #author,
    #follow {
        width: auto;

    }

    footer img:hover {
        scale: 0.8;
    }
}