/* Paramètres global */

* {
    font-family: 'Kanit', sans-serif;
}

p {
    font-size: 16px;
    margin: 0;
}

a {
    color: red;
    text-decoration: none;
}

strong {
    font-weight: 400;
}


.scrollOnOff {
    overflow-y: hidden;
}

body {
    margin: 0;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;



}

button {
    color: white;
}


/*  */


/* Header  */

nav {

    width: 100vw;

    /* position: fixed; */
    top: 0;

    display: flex;

    background-color: #D9D9D9;
}

#logo {
    display: flex;
    align-items: center;
    height: 25vh;
}

#logo img {

    max-height: 100%;

}

#title {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 70%;
    /* background-color: grey; */
}

h1 {
    font-weight: bold;
    font-size: 6rem;
    margin: 0;
}

#h1 {

    display: flex;
    flex-direction: column;
}

#h2 {
    height: 15%;
}

h2 {
    font-size: 2rem;
    font-style: italic;
    margin-top: 0;
}


.nav {
    width: 15%;
}

/*  */


/* Section Presentation */

#presentation {
    margin-top: 5vh;
    height: 85vh;
    width: 100%;
}

.firstDescription,
.secondDescription {
    height: 40%;

    display: flex;
    align-items: center;
    margin: 5vh, 0;
    justify-content: space-around;

}

.firstDescription {}



.textIntro {
    width: 30%;
    overflow-y: auto;
    display: flex;
    justify-content: start;
}

.textIntro:nth-child(2) {
    width: 30%;
    display: flex;
    justify-content: end;
}

.introPic {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.introPic img {

    max-height: 100%;
}

#cta {
    background-color: #f81e1e;
    border-radius: 30px;
    border: none;
    color: white;
    height: 5vh;
    font-weight: 500;
    font-size: 20px;
    transition: 0.3s;
    width: 20vw;

}

#cta:hover {
    translate: -5px -5px;
    box-shadow: 5px 5px 10px black;

}

#cta:active {
    box-shadow: none;
    translate: 0 0;
    transition: 0.1s;
}


.cta {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    height: 7%;
    padding: 0px 10px;

}

/*  */


/* Section plats */

#meals {

    height: 85vh;
    width: 100%;
}

#propositionsTitle {
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 35px;
}

.propositions {
    height: 80vh;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#listChoice {
    height: 80%;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.choice {
    height: 100%;
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);

    transition: all 0.3s ease-in-out;

}

.choice:hover {
    cursor: pointer;
}

.choiceModal {
    height: 90%;
    width: 80%;

    display: flex;
    align-items: start;
    justify-content: space-around;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);

    transition: all 0.3s ease-in-out;
}


.choice:hover {
    scale: 1.3;
    transition: all 0.3s ease-in-out;
}

.choiceModal:hover {
    scale: 1;
    transition: all 0.3s ease-in-out;
}

.picMeal img {
    max-width: 100%;

}

.picMeal {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    transition: all 1s ease-in-out;
}

.picMealModal {
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: center;

    transition: all 1s ease-in-out;

}

.picMealModal img {
    box-shadow: rgb(0 0 0 / 25%) 0px 0px 10px 8px;
}

.nameMeal {
    height: 10%;
    width: 90%;
    font-weight: 600;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;

    transition: all 0.5s ease-in-out;

}

.nameMealModal {

    height: 25%;
    font-size: 35px;

    transition: all 0.5s ease-in-out;

}



.gauche {
    height: 94%;
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.gaucheModal {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.ingredients {
    display: none;

}

.ingredientsModal {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    padding: 20px;
    height: 100%;
    width: 55%;

    transition: all 0.5s ease-in-out;

}

.nameIng {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.detailIng {}

.modal {
    height: 90%;
    width: 40%;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;


}





.modalOn {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #FFFFFF88;

    z-index: 1;
    transition: all 0.3s ease-in-out;
}




/* bouton changer */
.propositions #cta {
    width: 100%;
}

#change {
    background-color: #40AE44;
    border-radius: 30px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
    height: 5vh;
    width: 20vw;
    transition: 0.3s ease-in-out;
}

#change:hover {
    translate: -5px -5px;
    box-shadow: 5px 5px 10px black;

}

#change:active {
    box-shadow: none;
    translate: 0 0;
    transition: 0.1s;
}

.disclaimer {
    margin-top: 36px;
    margin-bottom: 100px;
}

.remind {
    font-weight: bold;

}

span {
    font-style: italic;
}

/*  */


footer {
    background-color: #D9D9D9;
}

.footerContain {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.footerContain #tools,
#author,
#follow {
    height: 100%;
    width: 30%;
    /* background-color: blue; */
}

#author,
#tools,
#follow {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footerTitle {
    height: 20%;
    /* background-color: grey; */

}



footer img {
    scale: 0.8;
    transition: all 0.3s ease-in-out;

}

footer img:hover {
    scale: 1.2;
    transition: all 0.3s ease-in-out;
}

#source {
    height: 40px;
    text-align: center;

}

.nameIng {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

/* @media only screen and (max-width: 425px) {

    #logo,
    .nav {
        width: 25vw;
        height: auto;
    }

    h1 {
        font-size: 9vw;
    }

    #h1 {
        height: auto;
    }

    h2 {
        font-size: 4vw;
        margin: 0;
    }

    #h2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav {
        position: static;
        height: auto;
        justify-content: space-between;
    }

    #logo img {
        max-width: 100%;
    }

    #title {
        max-width: 40vw;
        box-sizing: content-box;


    }



    #presentation {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .firstDescription,
    .secondDescription {
        width: 80vw;
        flex-direction: column;
        height: auto;
        margin-bottom: 5vh
    }

    #cta,
    #change {
        height: 6vh;
        width: 50vw;
    }

    .cta {
        margin-top: 0;
    }

    #listChoice {

        flex-direction: column;
    }

    .textIntro {
        justify-content: center;
        align-items: center;
        height: auto;
        width: auto;
    }

    .textIntro:nth-child(2) {
        justify-content: center;
        align-items: center;
        height: auto;
        width: auto;
    }

    .introPic {
        height: 50vw;
        width: auto;
    }



    #propositionsTitle {
        font-size: 8vw;
    }

    #listChoice,
    #meals,
    .propositions {
        height: auto;
        width: auto;
        justify-content: none;
        margin: 0;
    }

    .modal {
        width: auto;
        margin-bottom: 50px;
    }

    .choiceModal {
        flex-direction: column;
        align-items: center;
    }

    .gaucheModal {
        width: auto;
    }

    .disclaimer {
        margin-bottom: 20px;
    }

    .disclaimer p {
        margin: 2%;
    }

    .footerContain {
        height: auto;
        flex-direction: column;
    }

    .footerContain #tools,
    #author,
    #follow {
        width: auto;

    }

}
 */

